# Table of Contents
 <p><div class="lev1"><a href="#Task-1.-Compiling-Ebola-Data"><span class="toc-item-num">Task 1.&nbsp;&nbsp;</span>Compiling Ebola Data</a></div>
 <div class="lev1"><a href="#Task-2.-RNA-Sequences"><span class="toc-item-num">Task 2.&nbsp;&nbsp;</span>RNA Sequences</a></div>
 <div class="lev1"><a href="#Task-3.-Class-War-in-Titanic"><span class="toc-item-num">Task 3.&nbsp;&nbsp;</span>Class War in Titanic</a></div></p>

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import glob
import os

In [5]:
DATA_FOLDER = '../../../Tutorials/02 - Intro to Pandas/Data' # Use the data folder provided in Tutorial 02 - Intro to Pandas.

## Task 1. Compiling Ebola Data

The `DATA_FOLDER/ebola` folder contains summarized reports of Ebola cases from three countries (Guinea, Liberia and Sierra Leone) during the recent outbreak of the disease in West Africa. For each country, there are daily reports that contain various information about the outbreak in several cities in each country.

Use pandas to import these data files into a single `Dataframe`.
Using this `DataFrame`, calculate for *each country*, the *daily average per month* of *new cases* and *deaths*.
Make sure you handle all the different expressions for *new cases* and *deaths* that are used in the reports.

In [6]:
# Write your answer here
guinea_path = DATA_FOLDER + '/ebola/guinea_data'
guinea_files = glob.glob(os.path.join(guinea_path, "*.csv"))
data_guinea = pd.concat((pd.read_csv(file)) for file in guinea_files)
data_guinea = data_guinea.reset_index(drop=True)

columns=['Date','Description','Totals',
         'Conakry','Gueckedou','Macenta',
         'Dabola','Kissidougou','Dinguiraye',
         'Telimele','Boffa','Kouroussa',
         'Siguiri','Pita','Mzerekore',
         'Yomou','Dubreka','Forecariah',
         'Kerouane','Coyah','Dalaba',
         'Beyla','Kindia','Lola']

#reorders the columns according to the order specified in 'columns'
data_guinea = data_guinea[columns]

In [7]:
print(data_guinea.shape)
data_guinea.head()

(714, 24)

,Date,Description,Totals,Conakry,Gueckedou,Macenta,Dabola,Kissidougou,Dinguiraye,Telimele,...,Mzerekore,Yomou,Dubreka,Forecariah,Kerouane,Coyah,Dalaba,Beyla,Kindia,Lola
0,2014-08-04,New cases of suspects,5,5,0,0,0,0,0,0,...,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2014-08-04,New cases of probables,0,0,0,0,0,0,0,0,...,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2014-08-04,New cases of confirmed,4,1,3,0,0,0,0,0,...,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2014-08-04,Total new cases registered so far,9,6,3,0,0,0,0,0,...,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2014-08-04,Total cases of suspects,11,9,2,0,0,0,0,0,...,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
liberia_path = DATA_FOLDER + '/ebola/liberia_data'
liberia_files = glob.glob(os.path.join(liberia_path, "*.csv"))
data_liberia = pd.concat((pd.read_csv(file, )) for file in liberia_files)
data_liberia = data_liberia.reset_index(drop=True)

columns=['Date','Variable','National',
         'Bomi County','Bong County','Grand Kru',
         'Lofa County','Margibi County','Maryland County',
         'Montserrado County','Nimba County','River Gee County',
         'RiverCess County','Sinoe County']

#reorders the columns according to the order specified in 'columns'
data_liberia = data_liberia[columns]

In [9]:
print(data_liberia.shape)
data_liberia.head()

(3152, 14)

,Date,Variable,National,Bomi County,Bong County,Grand Kru,Lofa County,Margibi County,Maryland County,Montserrado County,Nimba County,River Gee County,RiverCess County,Sinoe County
0,6/16/2014,Specimens collected,1.0,NaN,NaN,NaN,1.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN
1,6/16/2014,Specimens pending for testing,0.0,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN
2,6/16/2014,Total specimens tested,28.0,NaN,NaN,NaN,21.0,NaN,NaN,7.0,NaN,NaN,NaN,NaN
3,6/16/2014,Newly reported deaths,2.0,NaN,NaN,NaN,1.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN
4,6/16/2014,Total death/s in confirmed cases,8.0,NaN,NaN,NaN,4.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN

In [10]:
sierraleone_path = DATA_FOLDER + '/ebola/sl_data'
sierraleone_files = glob.glob(os.path.join(sierraleone_path, "*.csv"))
data_sierraleone = pd.concat((pd.read_csv(file, )) for file in sierraleone_files)
data_sierraleone = data_sierraleone.reset_index(drop=True)

columns=['date','variable',
         'Kailahun','Kenema','Kono',
         'Kambia','Koinadugu','Bombali',
         'Tonkolili','Port Loko','Pujehun',
         'Bo','Moyamba','Bonthe','Western area urban',
         'Western area rural','National']

#reorders the columns according to the order specified in 'columns'
data_sierraleone = data_sierraleone[columns]

In [11]:
print(data_sierraleone.shape)
data_sierraleone.head()

(3262, 17)

,date,variable,Kailahun,Kenema,Kono,Kambia,Koinadugu,Bombali,Tonkolili,Port Loko,Pujehun,Bo,Moyamba,Bonthe,Western area urban,Western area rural,National
0,2014-08-12,population,465048,653013,325003,341690,335471,494139,434937,557978,335574,654142,278119,168729,1040888,263619,6348350
1,2014-08-12,new_noncase,0,3,0,0,0,0,0,1,0,0,0,0,0,0,4
2,2014-08-12,new_suspected,0,9,0,0,0,0,0,0,0,1,0,0,0,0,10
3,2014-08-12,new_probable,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1
4,2014-08-12,new_confirmed,0,9,0,0,0,0,0,2,0,0,0,0,0,0,11

In [12]:
#keep only the desired columns
data_guinea = data_guinea[['Date', 'Description', 'Totals']]
data_liberia = data_liberia[['Date', 'Variable', 'National']]
data_sierraleone = data_sierraleone[['date', 'variable', 'National']]

In [13]:
data_guinea.head()

         Date                        Description Totals
0  2014-08-04              New cases of suspects      5
1  2014-08-04             New cases of probables      0
2  2014-08-04             New cases of confirmed      4
3  2014-08-04  Total new cases registered so far      9
4  2014-08-04            Total cases of suspects     11

In [14]:
data_liberia.head()

        Date                          Variable  National
0  6/16/2014               Specimens collected       1.0
1  6/16/2014     Specimens pending for testing       0.0
2  6/16/2014            Total specimens tested      28.0
3  6/16/2014             Newly reported deaths       2.0
4  6/16/2014  Total death/s in confirmed cases       8.0

In [15]:
data_sierraleone.head()

         date       variable National
0  2014-08-12     population  6348350
1  2014-08-12    new_noncase        4
2  2014-08-12  new_suspected       10
3  2014-08-12   new_probable        1
4  2014-08-12  new_confirmed       11

In [16]:
print(data_guinea.shape)
print(data_liberia.shape)
print(data_sierraleone.shape)

(714, 3)
(3152, 3)
(3262, 3)

In [17]:
data_guinea.columns = ['Date', 'Description', 'Total Guinea']
data_liberia.columns = ['Date', 'Description', 'Total Liberia']
data_sierraleone.columns = ['Date', 'Description', 'Total Sierra Leone']

In [18]:
#reformat the 'Date' to yyyy-mm-dd
data_liberia['Date'] = pd.to_datetime(data_liberia.Date)

In [19]:
#data_guinea
#New cases of confirmed
#New deaths registered today
#data_liberia
#New case/s (confirmed)
#Newly reported deaths
#data_sierraleone
#new_confirmed
#???

In [20]:
data_guinea

           Date                                      Description Total Guinea
0    2014-08-04                            New cases of suspects            5
1    2014-08-04                           New cases of probables            0
2    2014-08-04                           New cases of confirmed            4
3    2014-08-04                Total new cases registered so far            9
4    2014-08-04                          Total cases of suspects           11
5    2014-08-04                         Total cases of probables          133
6    2014-08-04                         Total cases of confirmed          351
7    2014-08-04     Cumulative (confirmed + probable + suspects)          495
8    2014-08-04                      New deaths registered today            2
9    2014-08-04          New deaths registered today (confirmed)            2
10   2014-08-04          New deaths registered today (probables)            0
11   2014-08-04           New deaths registered today (suspects)            0
12   2014-08-04                         Total deaths of suspects            2
13   2014-08-04                        Total deaths of probables          133
14   2014-08-04                        Total deaths of confirmed          228
15   2014-08-04  Total deaths (confirmed + probables + suspects)          363
16   2014-08-04                           Total PEC center today           31
17   2014-08-04               Total PEC center today (confirmed)           18
18   2014-08-04               Total PEC center today (probables)            0
19   2014-08-04                Total PEC center today (suspects)           13
20   2014-08-04        Total of deaths in confirmed cases in CTE          138
21   2014-08-04         Total of cured in confirmed cases in CTE           89
22   2014-08-04                   Number of male confirmed cases          161
23   2014-08-04                 Number of female confirmed cases          190
24   2014-08-04                   Number of male probables cases           52
25   2014-08-04                 Number of female probables cases           81
26   2014-08-04                    Number of male suspects cases            7
27   2014-08-04                  Number of female suspects cases            6
28   2014-08-04                       Total number of male cases          220
29   2014-08-04                     Total number of female cases          277
..          ...                                              ...          ...
684  2014-10-01                           New cases of confirmed            6
685  2014-10-01                Total new cases registered so far           34
686  2014-10-01                          Total cases of suspects           45
687  2014-10-01                         Total cases of probables          177
688  2014-10-01                         Total cases of confirmed          977
689  2014-10-01     Cumulative (confirmed + probable + suspects)         1199
690  2014-10-01                  Total suspected non-class cases          974
691  2014-10-01                            New deaths registered           15
692  2014-10-01                         Total deaths of suspects            0
693  2014-10-01                        Total deaths of probables          177
694  2014-10-01                        Total deaths of confirmed          562
695  2014-10-01  Total deaths (confirmed + probables + suspects)          739
696  2014-10-01        Fatality rate for confirmed and probables          62%
697  2014-10-01      New cases of confirmed among health workers            2
698  2014-10-01     Total case of confirmed among health workers           69
699  2014-10-01       New deaths registered among health workers            0
700  2014-10-01     Total deaths registered among health workers           35
701  2014-10-01                         New admits to CTE so far           25
702  2014-10-01        Total number of hospitalized cases in CTE          114
703  2014-10-01                   Total number of exits from CTE           29
704  2014-10-01                Total number of admissions to CTE         1576
705  2014-10-01                   New contacts registered so far            0
706  2014-10-01        Total contacts registered from start date        11772
707  2014-10-01               Number of contacts to follow today         2661
708  2014-10-01                Number of contacts followed today         2595
709  2014-10-01      Number of contacts out of the track 21 days         9110
710  2014-10-01             Number of contacts lost to follow up            1
711  2014-10-01                Number of samples collected today           25
712  2014-10-01                     Number of samples under test            0
713  2014-10-01                             Total samples tested         2832

[714 rows x 3 columns]

In [22]:
data = data_guinea.copy()
data.Description[data.Description == 'New deaths registered today'] = 'New deaths registered'
data = data.loc[(data['Description'] == 'New cases of suspects')
              | (data['Description'] == 'New cases of probables')
              | (data['Description'] == 'New cases of confirmed')
              | (data['Description'] == "New deaths registered")]

data['Total Guinea'] = pd.to_numeric(data['Total Guinea'])
data = data[np.isfinite(data['Total Guinea'])]

NameError: name 'np' is not defined

In [ ]:
#convert the 'Date' to a Date of the form yyyy-mm-dd
data['Date'] = pd.to_datetime(data['Date'], format='%Y-%m-%d')
#convert the 'Total Guinea' to an int32
#data['Total Guinea'] = data['Total Guinea'].astype(str).astype(int)
#data = data[np.isfinite(data['Total Guinea'])]
#set 'Date' as an index in order to be able to groupby month
data.set_index(data['Date'], inplace=True)
data.groupby([pd.TimeGrouper(freq='M'), 'Description'])['Total Guinea'].sum()

In [ ]:
#reset the 'Date' index to the default integer index
data.reset_index(drop=True, inplace=True)

In [ ]:
data = data_liberia.copy()
data = data_liberia.loc[(data_liberia['Description'] == 'New case/s (confirmed)')
                      | (data_liberia['Description'] == "Newly reported deaths")]
data = data[np.isfinite(data['Total Liberia'])]
data.set_index(data['Date'], inplace=True)
data.groupby([pd.TimeGrouper(freq='M'), 'Description'])['Total Liberia'].sum()

In [ ]:
data.reset_index(drop=True, inplace=True)

In [ ]:
data = data_sierraleone.copy()

In [ ]:
data

## Task 2. RNA Sequences

In the `DATA_FOLDER/microbiome` subdirectory, there are 9 spreadsheets of microbiome data that was acquired from high-throughput RNA sequencing procedures, along with a 10<sup>th</sup> file that describes the content of each. 

Use pandas to import the first 9 spreadsheets into a single `DataFrame`.
Then, add the metadata information from the 10<sup>th</sup> spreadsheet as columns in the combined `DataFrame`.
Make sure that the final `DataFrame` has a unique index and all the `NaN` values have been replaced by the tag `unknown`.

In [200]:
# Write your answer here

## Task 3. Class War in Titanic

Use pandas to import the data file `Data/titanic.xls`. It contains data on all the passengers that travelled on the Titanic.

In [201]:
from IPython.core.display import HTML
HTML(filename=DATA_FOLDER+'/titanic.html')

For each of the following questions state clearly your assumptions and discuss your findings:
1. Describe the *type* and the *value range* of each attribute. Indicate and transform the attributes that can be `Categorical`. 
2. Plot histograms for the *travel class*, *embarkation port*, *sex* and *age* attributes. For the latter one, use *discrete decade intervals*. 
3. Calculate the proportion of passengers by *cabin floor*. Present your results in a *pie chart*.
4. For each *travel class*, calculate the proportion of the passengers that survived. Present your results in *pie charts*.
5. Calculate the proportion of the passengers that survived by *travel class* and *sex*. Present your results in *a single histogram*.
6. Create 2 equally populated *age categories* and calculate survival proportions by *age category*, *travel class* and *sex*. Present your results in a `DataFrame` with unique index.

In [202]:
# Write your answer here